@tailwind base;
@tailwind components;
@tailwind utilities;

/*-----------------------------------------------
ブロックの基底要素
-----------------------------------------------*/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Noto Sans', serif;
}

body {
  margin: 0;
}

body * {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
}

h1 {
  /* figmaのパクリ */
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
}

h2 {
  /* figmaのパクリ */
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}

p {
  margin: 0;
}

img {
  width: 100%;
}
