.footer {
  height: 125px;
  background: #333333;
}

.footer p {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 52px;
}
